{% extends "base.html" %}
{% block title %}Criar Tipo de Prato{% endblock %}

{% block content %}
<div class="container mt-5">
    <a href="{% url 'restaurant:dishtype_list' %}" class="btn btn-outline-secondary mb-3">← Cancelar</a>
    
    <div class="card shadow p-4">
        <h1 class="mb-4">Adicionar Novo Tipo de Prato</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Salvar Tipo</button>
        </form>
    </div>
</div>
{% endblock %}
